.root {
  object-fit: cover;
  position: relative;
  width: 1em;
  height: 1em;
}
@media (max-width: 640px) {
  .root {
    height: 100%;
    width: 37px;
    color: #000000;
    min-height: 0;
  }
}
